.main{
  width: 100%;
}

.fix{
  position: fixed;
  width: 100%;
}

.header{
  backdrop-filter: blur(10px);
  width: 100%;
  font-family: 'Poppins', sans-serif;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ccc;
}

.logo{
  width: 150px;
}



@media screen and (max-width: 900px) {
  .header{
    padding: 10px 10px;
  }
  .logo{
    width: 100px;
  }
  
}